@import "vars"
// @import "fonts"
@import "libs"

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.65
  font-family: 'PT Sans Caption', sans-serif
  overflow-x: hidden
  color: $text
  padding: 0
  margin: 0
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto
  &.img-width
    width: 100%

.text-center
  text-align: center

b, strong
  font-weight: bold
a 
  text-decoration: none

//////////////////////////////////////////////////////
// content
//////////////////////////////////////////////////////
h1
  color: #dedede
.main-content
  transition: .3s ease
  overflow: hidden
  background-color: #222
  background-image: url(../../img/menu_pattern_1.png)
.main-content.menu-active
  margin-left: 280px
  +media-breakpoint-down(xs)
    margin-left: 0

.portfolio-content
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  +media-breakpoint-down(md)
    grid-template-columns: 1fr 1fr 1fr
  +media-breakpoint-down(sm)
    grid-template-columns: 1fr 1fr
.portfolio-item
  transition: .4s ease
  animation: showItems 1.6s ease backwards
  img
    max-width: 100%

.sections
  transition: .4s ease
  animation: showSections .6s ease backwards
  position: relative
.img-wrap
  display: flex
  align-items: center
  justify-content: center

.section-content
  padding: 30px 50px
  background-color: #fff
  max-width: 680px
  animation: textContent .6s ease backwards
  animation-delay: .9s
  overflow-y: auto
  position: absolute
  left: 0
  top: 0
  bottom: 0
  +media-breakpoint-down(xs)
    padding: 20px 15px
  h2
    text-transform: uppercase
    text-align: center
    font-size: 40px
    +media-breakpoint-down(xs)
      margin: 15px 0
  img
    max-width: 100%
  hr
    background-color: #dedede
    height: 1px
    border: none
  p
    font-size: 14px
//////////////////////////////////////////////////////
// animations
//////////////////////////////////////////////////////

@keyframes showSections
  from
    opacity: 0
    transform: translateX(-20%)
  to
    opacity: 1
    transform: translateX(0)
@keyframes showItems
  from
    opacity: 0
    transform: translateY(80%)
  to
    opacity: 1
    transform: translateY(0)

@keyframes textContent
  from
    opacity: 0
    transform: translateX(-100%)
  to
    opacity: 1
    transform: translateX(0)
@import "media" // Always at the end
